/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container{
    width: 1170px;
    margin:0 auto;
    background-color: grey;
    border-radius: 25px;
}
.block{
    width: 370px;
    height: 450px;
    background-color: bisque;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    border-radius: 25px;
}
.block p {
    width:328px ;
    background-color: brown;
    text-align: center;
}
.block a {
    width: 131px;
    height: 45px;
    background-color: aqua;
    text-decoration:none;
    border-radius: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.line1{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/* .line2{
    display:flex;
    justify-content: space-between;
    margin-top: 60px;
} */
.title-block{
    width: 712px;
    margin: 0 auto;
    background-color: blueviolet;
    text-align: center;
    border-radius:25px;
}
.color01{
    background-color: aquamarine;
}
.block img {
    height: 200px;
    width: 200px;
}
/* pseudo klases*/
.block:nth-child(1){
    background-color: orange;
}
.block:nth-child(2){
    background-color: red;
}
.block:nth-child(3){
    background-color: aqua;
}
.block:nth-child(4){
    background-color: green;
}
.block:nth-child(5){
    background-color: greenyellow;
}
.block:nth-child(6){
    background-color: blue;
}
.block:nth-child(3) h3 {
    font-size: 30px;
    color: #fff;
}
.block:nth-child(3) a {
    background-color: black;
    color: #fff;
}
.block:nth-child(4),
.block:nth-child(5),
.block:nth-child(6){
    margin-top: 60px;
}
.icon i {
    font-size: 20px;
    position: relative;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.fa-facebook:hover{
    font-size: 25px;
    color: blue;
}
.fa-youtube:hover{
    font-size: 25px;
    color: red;
}