.container{
    width: 1170px;
    margin:0 auto;
    background-color: yellow;
}
.block{
    width: 370px;
    height: 450px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.block p {
    width:328px ;
    background-color: brown;
    text-align: center;
}
.block a {
    width: 131px;
    height: 45;
    background-color: aqua;
    text-decoration:none;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line1{
    display:flex;
    justify-content: space-between;
}
.line2{
    display:flex;
    justify-content: space-between;
    margin-top: 60px;
}
.title-block{
    width: 712px;
    margin: 0 auto;
    background-color: blueviolet;
    text-align: center;
}